.page-fit {
  display: flex;
  margin-top: 5%;
}

.movies-cover {
  width: 65%;
  margin-bottom: 4%;
}

.evaluation {
  padding-left: 15%;
}
.information-list {
  margin-left: 0;
  margin-bottom: 15%;
  list-style-type: none;
  padding: 0% 0% 0% 0%;
}

.information-list li {
  margin-left: 0%;
}

.icon-text {
  color: black;
}

.platform-icon {
  width: 12%;
  height: 12%;
}

.title {
  margin-bottom: 8%;
}
.abstract {
  margin-bottom: 10%;
}
