.pag-home {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  justify-content: center;
}

.cover {
  width: 69%;
  margin-left: 13%;
  margin-top: 5%;
}

.text-cover {
  margin-top: 3%;
  margin-left: 14%;
  color: black;
  text-decoration: underline;
}
