.search {
  background-color: white;
}

.list {
  padding-left: 20%;
  background-color: white;
  list-style-type: none;
  margin-top: 3%;
}
.list p {
  font-size: 100%;
  color: black;
  text-decoration: underline;
}

.list-cover {
  width: 40%;
}
