.search {
  /* position: relative; */
}

.list {
  /* position: absolute; */
  list-style-type: none;
  margin-top: 1%;
}
.list p {
  font-size: 100%;
  color: black;
  text-decoration: underline;
}

.list-cover {
  width: 40%;
}
